:root {
    --angle: -11deg;
    --angleleft: 11deg
}

.border-container {
    /*
    border-radius:4px;
    border:1px solid #bbb;*/
    padding: 1rem;
}

.container * { /*  espacio aplica a todos sus hijos*/
    box-sizing: border-box;
}
.container {
    column-count: 3;
    gap: 25px;
}

.container .brick {
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
}
.title-card {
    /* font-family: Saira Condensed; */
    
    font-family: Nova Slim;
    font-size: 18px;
    border-block-color: revert;
    text-shadow: 2px 1px 5px #184a90;
}


.line-break {
    line-height: 1.5em;
    padding-bottom: 2em;
}

.diagonal-left {    
    transform: skewY(var(--angleleft));
}
.work-image-left {
    padding: 50px 0;    
	transform: skewY(calc(var(--angleleft)*-1));
}


.col--2x {
    grid-row-end: span 2;
}
.col--3x {
   grid-row-end: span 3;
}

.orange {
    background-image: linear-gradient(to bottom, #fcaf34 5% , #E16F29 90%);
    background-image: linear-gradient(62deg, #fcaf34 0%, #E16F29 100%);
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);

    color: #eeeeee;
    
    -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    box-shadow: -12px 6px 14px 1px rgba(00,00,00,0.08);
    letter-spacing: 0.09em;
}



.diagonal-right {
    transform: skewY(var(--angle));
}
.work-image-right {
    padding: 50px 0;    
	transform: skewY(calc(var(--angle)*-1));
}

.img-card {
    width: 100%;
    height: auto;
    padding: 7px;
    border-radius: 10px;
    min-height: 300px;
}

.pink {
    background: linear-gradient(180deg, #ff0091 0%, #ff456f 30%, #ffc84c 38%, #bff17e 51%, #43d5ab 65%,#00c9b7 75%, #3db6f5 81%, #038afa 88%, #1faed6 97%);
    color:#fff;
}

.blue {   
    background-image: linear-gradient(to bottom, #fafafa 30%, #1faed6  80%, #0085ff 100%);    
    color:#fff;
}

.red {    
    background: linear-gradient(0deg, #920e23 20%, rgb(10 3 3) 80%);
    color:#fff;
    -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    box-shadow: 10px 12px 14px 1px rgba(00,00,00,0.08);
}

.blue-royal {    
    background-image: linear-gradient(to bottom, #ececec 50%,#7680e6 90%, #0e5db8 100%);  
    background: linear-gradient(to bottom, #ececec 50%,#c3d4e7, #8faed2 70%, #608cbf 74%, #7680e6 89%, #004798 100%);
    -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.08);
    color:#fff;
}


.royal {
    color: #fff;
    background: linear-gradient(173deg, #fff 10%, rgb(255 255 255) 20%, rgb(0 71 152) 100%)
}


.nature {
    color:#fff; 
    background: linear-gradient(to top, #0c8c91 0% , #85f2c0 20%, #64e5b8 30%, rgba(236,236,236,1) 50%);

}

.red-royal {
    color:#fff;
    -webkit-box-shadow: -17px 18px 14px 1px rgb(0 0 0 / 8%);
    box-shadow: -17px 18px 14px 1px rgba(00,00,00,0.08);
    background: linear-gradient(to bottom, #ececec 50%,#c3d4e7, #8faed2 70%, #608cbf 74%, #7680e6 89%, #004798 100%);
}
