:root {
    --angle: -11deg;
    --angleleft: 11deg
}

.border-container {
    /*
    border-radius:4px;
    border:1px solid #bbb;*/
    padding: 1rem;
}

.container * { /*  espacio aplica a todos sus hijos*/
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(350px, 1fr));  
    grid-template-rows: 1fr;
    gap: 25px;
    align-items: start;
}

.diagonal-left {    
    transform: skewY(var(--angleleft));
}
.work-image-left {
    padding: 50px 0;    
	transform: skewY(calc(var(--angleleft)*-1));
}


.workgrid_item-a {
    grid-column: span 2;
    grid-row:1
}

.green {
    background-color: rgb(168, 235, 18);
    color: #693a7d;
    text-align: center;
    
    -webkit-box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    box-shadow: 10px 10px 14px 1px rgba(00,00,00,0.08);
    letter-spacing: 0.094em;
}

.aqua {
    color:#fff;
    background-color: #00c9b7;
    border-radius: 5px;    /*grid-row: 1/2;*/
}


.diagonal-right {
    transform: skewY(var(--angle));
}
.work-image-right {
    padding: 50px 0;    
	transform: skewY(calc(var(--angle)*-1));
}

.img-card {
    width: 100%;
    height: auto;
    padding: 7px;
    border-radius: 10px;
}

.pink {
    background: #56B870; 
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.blue {
    grid-row: 1/2;
    background-image: linear-gradient(to top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.red {
    background: rgb(163,3,177);
background: -moz-linear-gradient(8deg, rgba(163,3,177,1) 0%, rgba(255,0,153,1) 100%);
background: -webkit-linear-gradient(8deg, rgba(163,3,177,1) 0%, rgba(255,0,153,1) 100%);
background: linear-gradient(8deg, rgba(163,3,177,1) 0%, rgba(255,0,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a303b1",endColorstr="#ff0099",GradientType=1);
}


